@keyframes fadeIn {
  0% {
    background-color: white;
  }
  10% {
    background-color: red;
  }
  20% {
    background-color: white;
  }
  30% {
    background-color: red;
  }
  40% {
    background-color: white;
  }
  50% {
    background-color: red;
  }
  60% {
    background-color: white;
  }
  70% {
    background-color: red;
  }
  80% {
    background-color: white;
  }
  90% {
    background-color: red;
  }
  100% {
    background-color: white;
  }
}
